C,T,C,C,T,T,T,C,T,T,T,T,C,T,C,T,T,C,T,T,T,T,C,C,T,T,C,C,T,C,C,T,C,T,C,T,T,T,T,C,C,T,C,C,T,C,C,T,C,T,C,T,C,C,C,T,C,C,T,T,C,T,T,C,T,T,T,C,T,T,T,C,C,T,C,T,T,T,T,C,C,T,C,C,T,C,T,C,T,C,C,C,C,T,C,T,C,C,T,T,
